body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-cinza-claro);
    font-family: var(--font);
}

.principal__parabens{
    padding: 2rem;
    border-radius: 33px;
    color: var(--cor-branco);
    text-align: center;
    font-weight: bold;
}

p{
    margin: 1rem 0;
}