body{
    background-color: var(--cor-fundo);
    font-family: var(--font);
    min-height: 100vh;
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

div{
    background-color: var(--cor-preto-opaco);
    padding: 1rem;
    border-radius: 33px;
}

button{
    color: var(--cor-branco);
    background-color: var(--cor-verde);
    border-radius: 33px;
    border: none;
    padding: 1rem 2rem;
}