:root {
  --cor-fundo: #222229;
  --cor-branco: #ffffff;
  --cor-verde: #1a9a22;
  --cor-cinza-claro: #424242;
  --cor-preto-opaco: rgb(0, 0, 0, 30%);
  --cor-preto: #000000;
  --cor-cinza: #141414;
  --cor-cinza-mais-claro: #d9d9d9;

  --font: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--font);
  min-height: 100vh;
  color: var(--cor-branco);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.cabecalho__perfil {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.foto-perfil {
  width: 40px;
}

.perfil__inf {
  font-size: 0.8rem;
}

.inf__icone {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--cor-cinza-claro);
  padding: 0.3rem 0.5rem;
  border-radius: 33px;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.cabecalho__botoes img {
  cursor: pointer;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  flex-direction: column;
  gap: 2rem;
}

.principal h1 {
  color: var(--cor-verde);
}

.principal div {
  background-color: var(--cor-preto-opaco);
  padding: 1rem 3rem;
}

.principal p,
label {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal button {
  background-color: var(--cor-verde);
  color: var(--cor-branco);
  padding: 0.6rem 1.3rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 33px;
  cursor: pointer;
}

.rodape {
  width: 100%;
  background-color: var(--cor-cinza);
  margin-top: 4rem;
  padding: 1rem;
}

.rodape ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

@media screen and (width >= 750px) {
  .cabecalho {
    margin: 1rem 5rem;
  }

  .principal {
    margin: 5rem auto;
  }

  .foto-perfil {
    width: 50px;
  }

  .perfil__inf {
    font-size: 1rem;
  }
}
