body {
  background-color: var(--cor-fundo);
  font-family: var(--font);
  min-height: 100vh;
  color: var(--cor-branco);
  position: relative;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.cabecalho__perfil {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.foto-perfil {
  width: 40px;
}

.perfil__inf {
  font-size: 0.8rem;
}

.inf__icone {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--cor-cinza-claro);
  padding: 0.3rem 0.5rem;
  border-radius: 33px;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.cabecalho__botoes img {
  cursor: pointer;
}

.principal {
  text-align: center;
  margin: 2rem;
}

.principal section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.principal h1 {
  color: var(--cor-verde);
}

.principal h2 {
  font-size: 1.2rem;
}

.rodape {
  width: 100%;
  background-color: var(--cor-cinza);
  margin-top: 4rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.rodape ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

@media screen and (width >= 750px) {
  .cabecalho {
    margin: 1rem 5rem;
  }

  .principal {
    margin-top: 5rem;
  }

  .foto-perfil {
    width: 50px;
  }

  .perfil__inf {
    font-size: 1rem;
  }
}
