body {
  background-color: var(--cor-fundo);
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.principal img {
  max-width: 100%;
  height: auto;
}